<div class="content-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="16px">
  <ng-container *ngFor="let accDatum of accData">
    <!-- カードの表示 -->
    <div class="acc-card">
      <!-- 写真 -->
      <img class="acc-photo" [src]="accDatum.photo" />
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="box2" *ngIf="accDatum.superHost">superHost!</div>
        <div>{{ accDatum.type }}</div>
        <div fxLayoutAlign="end">
          <mat-icon style="color: orange">star</mat-icon>{{ accDatum.rating }}
        </div>
      </div>
      <b>{{ accDatum.title }}</b>
    </div>
  </ng-container>
</div>
