<h2 mat-dialog-title>条件を絞り込む</h2>
<mat-dialog-content class="mat-typography">
  <div>宿泊先</div>
  <ng-container *ngFor="let city of cities">
    <div fxLayout="row">
      <mat-icon>room</mat-icon>
      <div>{{ city }}</div>
    </div>
  </ng-container>
  <div>宿泊人数</div>
  <div fxLayout="row">
    <mat-icon>person</mat-icon>
    <div>大人</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
